.homepage {
  background-image: url(../../images/candlesticks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.homepage-content {
	width: 60%;
	height: 60%;
	background-color:rgba(0, 0, 0, 0.6);
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.homepage h1 {
  text-align: center;
  color: white;
  padding-top: 10%;
  line-height: 1.5;
  font-size: 30px;
}

.homepage-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

.homepage-searchbar >input {
  width: 20vw;
  height: 5vh;
  font-size: 20px;
  padding: 6px;
  padding-left: 10px;
}

.homepage-searchbar >button {
  width: 5vw;
  height: 7vh;
  font-size: 30px;
  padding: 10px;
  background-color: gold;
  border: 1px solid goldenrod;
  border-radius: 3px;
}

.homepage-searchbar >button:hover {
  background-color: goldenrod;
  cursor: pointer;
}

.homepage-searchbar >button:active {
  background-color: darkgoldenrod;
}