.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  padding-left: 2vw;
  padding-right: 3vw;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-links >* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  margin-right: 5vw;
  color: goldenrod;
  text-decoration: none;
  border: 1px solid #1b1b1b;
  padding: 10px;
  border-radius: 4px;
}

.navbar-links >*:hover {
  border: 1px solid goldenrod;
  padding: 10px;
  border-radius: 4px;
}

.moneypot-logo {
  height: 6vh;
}

.moneypot-name {
  height: 6vh;
}